[submodule "kt-contractors"]
	path = kt-contractors
	url = git@github.com:ktransferllc/kt-contractors.git
	branch = 13.0
[submodule "ktllcaddons"]
	path = ktllcaddons
	url = git@github.com:ktllc/ktllcaddons.git
	branch = main
